<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DS3ConnectionInfo.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DS3ConnectionInfo.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DS3ConnectionInfo.Settings>
            <setting name="UsePingFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxAvgPing" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="REOHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RSDHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WSDHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeaveSessionHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SamplingDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SamplingPeriod" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DisplayOverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BorderlessMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BorderlessHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayAnchor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XOffset" serializeAs="String">
                <value>0.025</value>
            </setting>
            <setting name="YOffset" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="OverlayFont" serializeAs="String">
                <value>Segoe UI, 20.25pt</value>
            </setting>
            <setting name="NameFormat" serializeAs="String">
                <value>{SteamName} ({CharName})</value>
            </setting>
            <setting name="NameFormatConnecting" serializeAs="String">
                <value>{SteamName}</value>
            </setting>
            <setting name="ShowRegion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="OutlineColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="OutlineThickness" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ConnectingColor" serializeAs="String">
                <value>#FFFFA500</value>
            </setting>
            <setting name="PingColor1" serializeAs="String">
                <value>#FF00BFFF</value>
            </setting>
            <setting name="PingColor2" serializeAs="String">
                <value>#FF7CFC00</value>
            </setting>
            <setting name="PingColor3" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
            <setting name="PingColor4" serializeAs="String">
                <value>#FFCD5C5C</value>
            </setting>
            <setting name="PingFilterHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SessColumnVisibility" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Visible</string>
                        <string>Visible</string>
                        <string>Visible</string>
                        <string>Visible</string>
                        <string>Hidden</string>
                        <string>Hidden</string>
                        <string>Visible</string>
                        <string>Hidden</string>
                        <string>Visible</string>
                        <string>Hidden</string>
                        <string>Visible</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OverlayColVisibility" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Hidden</string>
                        <string>Hidden</string>
                        <string>Hidden</string>
                        <string>Hidden</string>
                        <string>Visible</string>
                        <string>Hidden</string>
                        <string>Visible</string>
                        <string>Hidden</string>
                        <string>Visible</string>
                        <string>Hidden</string>
                        <string>Hidden</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MaxAbsPing" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="SpamRedEyeOrb" serializeAs="String">
                <value>False</value>
            </setting>
        </DS3ConnectionInfo.Settings>
    </userSettings>
    <applicationSettings>
        <DS3ConnectionInfo.Settings>
            <setting name="SessColumnDescs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>The slot this player occupies in the game's SessionInfo structure.</string>
                        <string>The player's in-game character name.</string>
                        <string>The player's in-game team (e.g. Host, Dark Spirit, etc.)</string>
                        <string>The player's Steam profile name.</string>
                        <string>A combination of the player's Steam and in-game name, formatted according to overlay settings.</string>
                        <string>The player's Steam ID 64 (number found in a Steam profile link).</string>
                        <string>The player's ping (roundtrip time latency), calculated using the delay between sent and recieved STUN packets. Displayed in milliseconds.</string>
                        <string>The player's average ping over the last 10 recieved STUN packets. Displayed in milliseconds.</string>
                        <string>The standard deviation of the player's ping over the last 10 samples. A high value indicates an unstable connection. Displayed in milliseconds.</string>
                        <string>The ratio of late vs. on time STUN reply packets from the player, as a percentage. Another indicator of connection quality.</string>
                        <string>The state and country of the player, if available.</string>
                    </ArrayOfString>
                </value>
            </setting>
        </DS3ConnectionInfo.Settings>
    </applicationSettings>
</configuration>