<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alba.CsConsoleFormat" version="1.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="SteamworksSharp" version="1.0.8" targetFramework="net472" />
  <package id="SteamworksSharp.Native" version="1.0.8" targetFramework="net472" />
  <package id="SteamworksSharp.Native.Windows_x64" version="1.0.8" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
</packages>