<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alba.CsConsoleFormat" version="1.0.0" targetFramework="net472" />
  <package id="ILRepack" version="2.0.18" targetFramework="net472" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.18.2" targetFramework="net472" />
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="2.0.62" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Rx-Core" version="2.1.30204.0" targetFramework="net472" />
  <package id="Rx-Interfaces" version="2.1.30204.0" targetFramework="net472" />
  <package id="Rx-Linq" version="2.1.30204.0" targetFramework="net472" />
  <package id="Rx-Main" version="2.1.30204.0" targetFramework="net472" />
  <package id="Rx-PlatformServices" version="2.1.30204.0" targetFramework="net472" />
  <package id="SteamworksSharp" version="1.0.8" targetFramework="net472" />
  <package id="SteamworksSharp.Native" version="1.0.8" targetFramework="net472" />
  <package id="SteamworksSharp.Native.Windows_x64" version="1.0.8" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
</packages>